body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
}

@page {
    margin: 0.5cm;
}

#footer, #footer a, #nav {
    display: none;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 14pt;
    margin-top: 25px;
}

p {
    font-size: 12pt;
}

ul {
    list-style: none
}

a {
    color: #000;
}

p a:after, li a:after {
    content: " (" attr(href) ")";
    font-size: 80%;
}