a {    text-decoration: none;}a:active, a:focus, a:hover {    background-color: yellow;    text-decoration: underline;}input:active, input:focus, input:hover {    background-color: yellow;}#footer {    background-color: #c0c0c0;    text-align: center;}